part1/frontend-example-docker
part1/backend-example-docker
part1/spring-example-project
part1/rails-example-project
part1/nginx
part1/postgres_db
part2/whoami/*.mp4
part2/scaling-exercise
part2/redmine
part2/machine-learning
part3/3.3/credential.txt
part3/3.4/frontend-example-docker
part3/3.4/backend-example-docker
